TELEGRAM_TOKEN=8427036537:AAGznc9iSyFr
NGROK_AUTHTOKEN=3D8uTcA680Lm8QHlkxGgU90
# powershell -ExecutionPolicy Bypass -File .\scripts\start_telegram.ps1 -TelegramToken '8427036537:AAGznc9iSyFr'
# powershell -ExecutionPolicy Bypass -File .\scripts\start_telegram.ps1 -TelegramToken '8427036537:AAGznc9iSyFr' -CloudflaredPath 'C:\tmp\cloudflared.exe'
# powershell -ExecutionPolicy Bypass -File .\scripts\start_telegram.ps1 -TelegramToken '8427036537:AAGznc9iSyFr2lx7jSto_8jmb3XRM0W10y0' -CloudflaredPath 'C:\tmp\cloudflared.exe'



